.split {
  font-size: 40px;
}
.clip-path__example {
  width: 500px;
  height: 500px;
  border-radius: 8px;
  background-color: red;
  clip-path: path(
    "M 10,50 L 90,50 A 10,10 0,0,0 100,40 L 100,10 A 10,10 0,0,1 110,0 L 190,0 A 10,10 0,0,1 200,10 L 200,190 A 10,10 0,0,1 190,200 L 10,200 A 10,10 0,0,1 0, 190 L 0,60 A 10,10 0,0,1 10,50 Z "
  );
}
